html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--content-font);
  font-size: var(--font-size);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
