:root {
  --heading-font: "Arial"; // "Avenir Next LT Pro";
  --content-font: "Arial"; // "Avenir Next LT Pro";
  --font-size: 18px;
  --text-color: black;
  --content-width: 1056px;
  --extra-width: calc(100% - 48px);
  --accent-color: #38ffd7;
}